    body {
        background-color: white;
    }

    .film_categories {
        color: #2C33AB;
    } 

    .action_film {
        color: black;
        border-bottom: 1px solid black;
        width: 90.3px;
    }

    .one {
        font-family: italic;
    }

    .action_film_2 {
        color: black;
        border-bottom: 1px solid black;
        width: 122.8px;
    }

    .action_film_3 {
        color: black;
        border-bottom: 1px solid black;
        width: 123.3px;
    }

    li ul,li ol{
        display: none;
    }
    li:hover>ul,li:hover>ol{
        display: block;
    }